html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns:0.2fr 0.98fr;
    align-items: center;
    color: wheat;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    background: url('./assets/images/bg.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
}

#sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 18.5rem;
    height: 91vh;
    margin: 20px 10px 20px 20px;
    padding: 20px;
    background: rgba(44, 16, 11, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 20px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-heading {
    height: 5rem;
    width: 100%;
    position: relative;
}

.navbar-container {
    height: 100%;
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 68.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar-title {
    position: absolute;
    left: 15px;
}

.default-button {
    width: 1.7rem;
    height: 1.7rem;
    background: none;
    border: none;
    border-radius: 100%;
    padding-top: 2px;
    margin: 0px;
    color: wheat;
}

.default-button:hover {
    background-color: rgba(133, 61, 40, 0.765);
    cursor: pointer;
}

.list-add-button {
    position: absolute;
    top: 15px;
    right: 8px;
    background: none;
    border: none;
}

.add-icon:hover{
    background-color: rgba(133, 61, 40, 0.765);
    cursor: pointer;
}

.add-icon {
    border-radius: 100%;
    padding: 5px;
    height: 30px;
    width: 30px;
}

.list-create-button {
    background-color: rgba(109, 3, 3, 0.342);
    border-radius: 15px;
    position: relative;
    width: 95%;
    margin: 0px 0px 10px 0px;
}

.list-create-input {
    background-color: transparent;
    border: none;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    color: wheat;
}

.list-edit-input {
    background-color: transparent;
    border: transparent;
    width: 60%;
    color: wheat;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    margin-left: 43px;
}

.list-create-input:focus, .list-edit-input:focus {
    outline: none;
}

.list-create-confirm {
    position: absolute;
    top: 5px;
    right: 40px;
    border: none;
}

.list-create-cancel {
    position: absolute;
    top: 5px;
    right: 8px;
    border: none;
}

.list-button {
    position: relative;
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: rgba(101, 31, 15, 0.33);
    padding: 5px 10px 5px 10px;
}

.list-edit-button {
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: rgba(101, 31, 15, 0.537);
    padding: 5px 10px 5px 10px;
}

.list-button:hover {
    cursor: pointer;
    box-shadow: 2px 5px 5px 1px rgba(89, 30, 20, 0.674);
}

.list-button-text {
    position: absolute;
    left: 55px;
    font-size: 18px;
    width: 45%;
    overflow: hidden;
}

.tag-icon{
    height: 30px;
    width: 30px;
}

.photo-credits {
    font-size: 13px;
}

.photo-credits > a{
    color: rgba(201, 106, 38, 0.502);
}

#content {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    margin: 10px;
    height: 95vh;
    width: 100%;
    background: rgba(44, 16, 11, 0.28);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-width: 0;
    background-color: rgba(44, 16, 11, 0.248);
    padding: 0 30px 0 30px;
    border-radius: 20px 20px 0 0;
}


.list-titlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    min-width: 0;
    font-size: 36px;
}

.titlebar-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titlebar-info {
    font-size: 20px;
    font-style: italic;
}

.item-add-dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 85%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(54, 25, 18);
    color: wheat;
    border: none;
    outline: none;
    border-radius: 20px;
}

.dialog-title {
    font-size: 36px;
    font-weight: 200;
}

.item-add-form {
    width: 80%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.item-add-form fieldset {
    border: none;
    outline: none;
}

.item-add-form input {
    font-style: inherit;
    color: inherit;
    border: none;
    border-radius: 10px;
    outline: none;
    height: 1.66em;
    width: 95%;
    padding: 10px;
    background-color: rgba(98, 62, 62, 0.428);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 80%;
    padding: 10px;
    margin: 0;
}

.form-radio-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

input[type="radio"] {
    appearance: none;
    margin: 0;
    background-color: none;
    border: 1px solid wheat;
    width: 1rem;
    height: 1rem;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  border-radius: 100%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em wheat;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:hover {
    cursor: pointer;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.item-add-form textarea {
    color: inherit;
    font-family: inherit;
    resize: none;
    width: 95%;
    height: 10rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: rgba(98, 62, 62, 0.428);
}

.dialog-form-buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.form-button {
    padding: 0;
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
}

.form-button:hover {
    cursor: pointer;
}

.form-button > img {
    width: 100%;
    height: 100%;
}

.item-add-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.394);
}

.item-add-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-add-button{
    width: 55px;
    height: 55px;
}

.add-icon-new{
    width: 100%;
    height: 100%;
}

.list-item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    gap: 15px;
    overflow: scroll;
}

/* .list-item-container * {
    border: 1px solid red;
} */

.prio-high {
    border-left: 7px solid rgba(255, 0, 0, 0.338);
}

.prio-med {
    border-left: 7px solid rgba(255, 255, 0, 0.338);
}

.prio-low {
    border-left: 7px solid rgba(0, 128, 0, 0.338);
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: rgba(101, 31, 15, 0.338);
    border-radius: 15px;
}

.item-main {
    display: grid;
    grid-template-columns: 0.04fr 25fr 0.2fr;
    align-items: center;
    gap: 5px;
    padding: 0 10px 0 20px;
}

.item-desc {
    text-align: center;
    overflow-wrap: break-word;
    min-width: 0;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    width: 80%;
    overflow: hidden;
}

.active .item-desc {
    border-top: 1px dashed wheat;
    padding: 20px;
}

.checked {
    opacity: 0.5;
    filter: grayscale(70%);
    text-decoration: line-through;
}

.item-text {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 10px;
    width: auto;
    min-width: 0;
    padding: 10px;
    margin-left: 10px;
    text-wrap: nowrap;
}

.item-title {
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}


.item-dueDate {
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
}

.item-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item-button {
    border: none;
    border-radius: 100%;
    outline: none;
    background-color: transparent;
    padding: 0;
    height: 28px;
    width: 28px;
}

.item-dropdown {
    height: 30px;
    width: 30px;
}

.item-button:hover{
    cursor: pointer;
}

.item-button > img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.item-checkbox-label {
    position: relative;
    height: 25px;
    width: 25px;
}

.item-checkbox{
    position: absolute;
    height: 100%;
    width: 100%;
    appearance: none;
}

.item-checkmark {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border: 2px solid wheat;
    border-radius: 5px;
    cursor: pointer;
}

.item-checkmark::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 8px;
    width: 7px;
    height: 14px;
    border: 2px solid wheat;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.item-checkbox:checked ~ .item-checkmark::after{
    opacity: 1;
}